*{
    margin: 0px;
}
.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    background-color: #f7f7f7;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 140px;
    align-items: center;
  }
  .logo, .nav ul{
    display: flex;
    align-items: center;
  }
  .logo-img{
    width: 60px;
    margin-right: 11px;
    
  }
  .logo h3
  {
    font-size: 32px;
    font-weight: bold;
  }
 .nav-item{
    list-style: none;
    margin-right: 30px;
 }
.nav-link{
    text-decoration: none;
}
.home{
    color:rgba(254, 163, 1, 1) ;
    font-size: 20px;
    font-weight: bold;
}
.about{
    color:rgba(1, 172, 253, 1) ;
    font-size: 20px;
    font-weight: bold;
    
}
.faci{
    color: #05D4DF ;
    font-size: 20px;
    font-weight: bold;
    
}
.admi{
    color:#5D58EF;
    font-size: 20px;
    font-weight: bold;
    
}

  .nav-btn button{
   background-color: rgba(254, 163, 1, 1);
   color: rgba(255, 255, 255, 1); 
   font-size: 20px;
   font-weight: 600px;
   padding: 10px 60px;
   border-radius: 12px;
   border: none;
  }
  .hamburger, .hr{
    display: none;
  }

  .banner{
    margin: 20px 140px;
display: flex;
align-items: center;

  }
  .banner-content h2{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .b-c-h1{
    color: orange;
  }
  .b-c-h2{
    color: rgba(1, 172, 253, 1);
  }
  .banner-content p{
    font-size: 20px;
    margin-bottom: 24px;
  }
  .banner-content button, .story button{
    font-size: 20px;
    border-radius: 12px;
    background-color: black;
    color: #ffff;
    width: 205px;
    height: 50px;
    font-weight: bold;
    padding: 10px 47px;
    border: none;
    cursor: pointer;
  }
  
  .main-container{
    background-image: url("assets/bgg.png");
    padding-top: 60px;
    text-align: center;
/* width: 1440px;
height: 880px; */
  }
  .main-container h1, .story h1
  {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 80px;
  }
  /* box-container */
  .box-container{
    display: flex;
    gap: 30px;
    margin: 0px 140px 80px 140px;
    align-items:center ;
   
  }
  /* box1 */
  .box1{
    background: linear-gradient( to top,#ffffff, #ffffff, #DEF5FF);
border: 1px solid #DEF5FF;
border-radius: 19px;
padding: 53px 40px;

  }
  .box1 img{
    width: 136px;
    height: 136px;
  }
  .box1 h2{
    font-size: 25px;
    font-weight: bold;
    margin: 33px 37px;
  }
  .box1 p{
    font-size: 15px;
    font-weight: 500px;
    color: #808080;
    margin-bottom: 34px;
  }
.box1 h4{
    color: #64C8FF;
    font-size: 15px;
    font-weight: bold;
}

 /* box2 */
 .box2{
    background: linear-gradient( to top,#ffffff, #ffffff, #FFF4DC);
border: 1px solid #FFF4DC;
border-radius: 19px;
padding: 53px 40px;

  }
  .box2 img{
    width: 136px;
    height: 136px;
  }
  .box2 h2{
    font-size: 25px;
    font-weight: bold;
    margin: 33px 37px;
  }
  .box2 p{
    font-size: 15px;
    font-weight: 500px;
    color: #808080;
    margin-bottom: 34px;
  }
.box2 h4{
    color: #F0AA00;
    font-size: 15px;
    font-weight: bold;
}
/* box3 */
.box3{
    background: linear-gradient( to top,#ffffff, #ffffff, #F2E8FF);
border: 1px solid #F2E8FF;
border-radius: 19px;
padding: 53px 40px;

  }
  .box3 img{
    width: 136px;
    height: 136px;
  }
  .box3 h2{
    font-size: 25px;
    font-weight: bold;
    margin: 33px 37px;
  }
  .box3 p{
    font-size: 15px;
    font-weight: 500px;
    color: #808080;
    margin-bottom: 34px;
  }
.box3 h4{
    color: #8700FF;
    font-size: 15px;
    font-weight: bold;
}
.main-btn button{
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 30px;
    font-size: 24px;
    width: 60px;
    height: 60px;
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 60px;
}

.story{
    background: linear-gradient( to bottom, #f7f7f700, rgba(254, 161, 1, 0.4) );
    
}
.story-container{
    margin: 80px 140px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* grid-template-rows: repeat(2,1fr); */
    
}
.box{background-color: #ffffff;
border-radius: 16px;
}
.box img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
#box1{
    grid-row: span 2;
}
#box2, #box3, #box4, #box5{
width: 291px;
}
.story h1{
    margin-top: 60px;
}

#box1 h2{
margin: 59px 38px 48px 38px;
font-size: 24px;
font-weight: bold;
text-align: left;
}
#box1 p{
    margin: 59px 38px 48px 38px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #666666;

    }

#box2 h2 , #box3 h2 ,#box4 h2, #box5 h2{
margin: 39px 38px 29px 38px;
font-size: 15px;
font-weight: bold;
text-align: left;
}
.story button{
    margin-bottom: 60px;
}
.footer{
    background-color: #01ACFD;
    padding: 123px 230px 174px 140px;
    display: flex;
    justify-content: space-between;
}
.log h3 {
    padding-top: 6px;
    font-size: 25px;
    align-items: center;
    color: #ffffff;
}
.kids-e p{
    padding-left: 7px;
    margin-top: 20px;
    font-size: 15px;
    color: #FFFFFF;
    width: 399px;
}
.a-school h3{
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
}
.a-school h5{
font-size:18px ;
color: #FFFFFF;
margin-bottom: 20px;
font-weight: 500px;

}
.icons h4{
font-size: 26px;
color: #FFFFFF;
margin-bottom: 32px;
}



  @media screen  and (max-width:576px) {
    /* nav */
   .hide{
    display: none;
   }
    .hamburger{

        display: block;
        cursor: pointer;

    }
    .hamburger .line{
        width: 40px;
        height: 3px;
        background-color: black;
        margin:6px 0;
    }
    .navbar{
        justify-content: space-between;
        margin: 12px 16px;
    }
    .hr{ display: block;
        background-color: orange;
       width: 338px;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
       text-align: center;
      
    }
    .img-dp{
        width: 290px;
        height: 413px;
        margin-bottom: 20px;
        margin-right: 26px;
        margin-left: 40px;
        /* padding-left: 26px; */
        
    }
    .banner-content h2{
        font-size: 31px;
        margin-bottom: 20px;
        width: 359px;
        
      }
      .banner-content p{
        
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500px;
        margin: 0 5px 20px 20px;
        
        
      }
      .main-container
      {font-size: 26px;}
      /* box-container */
.box-container{
    flex-direction: column;
    
}
.box1, .box2, .box3{
    width: 230px;
    height: 322px;
    margin-left: 20px;
}
.box1 img, .box2 img, .box3 img
{width: 92px;
height: 92px;}
.box1 h2, .box2 h2, .box3 h2
{font-size: 16px;}
.box1 p, .box2 p, .box3 p
{font-size: 10px;}
.box1 h4, .box2 h4, .box3 h4
{font-size: 10px;}
 /* story */

 .story-container{
    margin: 20px 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;  
   width: 100px;
    
}
#box2, #box3, #box4, #box5{
    width: 140px;
    height: 200px;
    }
.box img{
    width: 140px;
    height: 100px;
}
#box2 h2 , #box3 h2 ,#box4 h2, #box5 h2{
    margin: 22px 54px 20px 22px;
    font-size: 9px;
    font-weight: bold;
    text-align: left;
    

    }
    .story button, .banner button{
        width: 170px;
        height: 42px;
        font-size: 12px;
    }

    .footer{
        
        /* padding: 123px 230px 174px 140px; */
       flex-direction: column;
       padding: 0px;
       padding: 65px 10px 0 16px;
    }
    
    .kids-e p{
       width: 280px;
       margin-bottom: 20px;
       
    }
  
  .a-school{
    margin-left: 11px;
  }
  .icons h4{
    margin-left: 11px;
    font-size: 23px;
  }
  .icons img{
    margin-bottom: 30px;
    margin-left: 8px;
  }
    


  }

 