*{
    margin: 0px;
}
.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    background-color: #f7f7f7;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 140px;
    align-items: center;
  }
  .logo, .nav ul{
    display: flex;
    align-items: center;
  }
  .logo-img{
    width: 60px;
    margin-right: 11px;
    
  }
  .logo h3
  {
    font-size: 32px;
    font-weight: bold;
  }
 .nav-item{
    list-style: none;
    margin-right: 30px;
 }
.nav-link{
    text-decoration: none;
}
.home{
    color:rgba(254, 163, 1, 1) ;
    font-size: 20px;
    font-weight: bold;
}
.about{
    color:rgba(1, 172, 253, 1) ;
    font-size: 20px;
    font-weight: bold;
    
}
.faci{
    color: #05D4DF ;
    font-size: 20px;
    font-weight: bold;
    
}
.admi{
    color:#5D58EF;
    font-size: 20px;
    font-weight: bold;
    
}

  .nav-btn button{
   background-color: rgba(254, 163, 1, 1);
   color: rgba(255, 255, 255, 1); 
   font-size: 20px;
   font-weight: 600px;
   padding: 10px 60px;
   border-radius: 12px;
   border: none;
  }
  .hamburger, .hr{
    display: none;
  }

  .banner{
    margin: 20px 140px;
display: flex;
align-items: center;
  }
  .banner-content h2{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .b-c-h1{
    color: orange;
  }
  .b-c-h2{
    color: rgba(1, 172, 253, 1);
  }
  .banner-content p{
    font-size: 20px;
    margin-bottom: 24px;
  }
  .banner-content button{
    font-size: 20px;
    border-radius: 12px;
    background-color: black;
    color: #ffff;
    width: 205px;
    height: 50px;
    font-weight: bold;
    padding: 10px 47px;
    border: none;
    cursor: pointer;
  }







  @media screen  and (max-width:576px) {
    /* nav */
   .hide{
    display: none;
   }
    .hamburger{

        display: block;
        cursor: pointer;

    }
    .hamburger .line{
        width: 40px;
        height: 3px;
        background-color: black;
        margin:6px 0;
    }
    .navbar{
        justify-content: space-between;
        margin: 12px 16px;
    }
    .hr{ display: block;
        background-color: orange;
    }
    /* banner */
    .banner{
        flex-direction: column-reverse;
       text-align: center;
      
    }
    .img-dp{
        width: 500px;
        height: 600px;
        margin-bottom: 20px;
    }
    .banner-content h2{
        font-size: 36px;
        margin-bottom: 20px;
        width: 390px;
        
      }
      .banner-content p{
        font-size: 36px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500px;
        
        
      }

  }
